@import "../../global.css";

body {
    height: auto;
}
.headerImage {
  background: url('../images/header.jpg') center center/cover;
  width: 100%;
  height: 600px;
  margin-top: -200px;
  filter: blur(1.2px) hue-rotate(-30deg);
  position: relative;
  z-index: 0;
  display: inline-block;
  box-shadow: 0 0 10px 0 #636363;
}
.postAuthor {
  width: 128px;
  height: 128px;
  border-radius: 90px;
  padding: 16px;
  margin-top: -79px;
  margin-left: 16%;
  position: relative;
  z-index: 1;
}
.postTitle {
  position: relative;
  z-index: 1;
  padding:0;
  margin: -125px 0 7px 29%;
  color: black;
  text-transform:capitalize;
}
.postInfo {
  position: relative;
  z-index: 1;
  padding:0;
  margin: 0 0 0 29.2%;
}
.postDetails {
  width: 65%;
  height: 100%;
  padding:30px;
  background: white;
  box-shadow: 0 0 10px 0 var(--boxShadow);
  border-radius: 30px;
  margin: 0 0 25px 15%;
}
.postDetails p {
  font-size: 15px;
  line-height: 26px;
  color: #777777;
}
